[Unit]
Description=RGB Cooling HAT system service

[Service]
ExecStart=%/bin/rgb-cooling-hat
Restart=on-failure
RestartPreventExitStatus=127 132

[Install]
WantedBy=multi-user.target
