[Unit]
Description=RGB Cooling HAT system service

[Service]
ExecStart=%{prefix}/bin/rgb-cooling-hat
RestartPreventExitStatus=127 132
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
