pkgbase = rgb-cooling-hat-git
	pkgdesc = RGB Cooling HAT advanced utility for YB-EPV02 and it's SSD1306
	pkgver = r51.830145d
	pkgrel = 1
	url = https://github.com/supdrewin/rgb-cooling-hat
	install = rgb-cooling-hat.install
	arch = any
	license = MPL2
	makedepends = cargo
	makedepends = git
	provides = rgb-cooling-hat
	conflicts = rgb-cooling-hat
	source = rgb-cooling-hat-git::git+https://github.com/supdrewin/rgb-cooling-hat
	md5sums = SKIP

pkgname = rgb-cooling-hat-git
